body{
    font-family: "Noto Sans", sans-serif;
    margin:0px;
    padding: 0px;
}
h1, h2, h3 {
    margin-top: 17px;
    margin-bottom: 8.5px;
}
h2, .h2 {
    font-size: 25px;
}
.login-header{
    position: relative;
    padding: 70px 0;
    text-align: center;
    background: #373e4a;
}
.login-content{
    padding: 20px 0;
}
.login-content img{
    max-height: 60px;
}
.login-content h2{
    color:#cacaca;
    font-weight:100;
    font-size: 25px;
}
.login-cater{
position: absolute;
    bottom: 0;
    position: absolute;
    bottom: -27px;
    left: 48.5%;
    z-index: 100;
}
.login-cater i{
    color:#373e4a;
    font-size: 46px;

}
.login-form{
    padding: 60px 0px;
    background: #303641;
    text-align: center;
}
.form-content{
width:320px;
    padding: 20px 0;
    display: inline-block;
}
.form-content .form-group{
margin-bottom: 20px;
}
.form-content .form-group .input-group{
    padding: 6px 0px;
    background: #373e4a;
    border: 1px solid #373e4a;
    width: 100%;
    border-radius: 3px;
}

.form-content .form-group .input-group .input-group-addon{
    background: transparent;
    border: none;
    border-right: #454a54 solid 1px;
    width:41px;
    height: 31px;

}

.form-content .form-group .input-group .input-group-addon i{
    color: #555555;
}
.form-content .form-group .input-group .form-control{
    background: transparent;
    border: 0;
    box-shadow: none;
    color: #ffffff;
    border-radius: 0px;
    height: 31px;
    height: 31px;
}
.form-control:-moz-placeholder {
    color: #aaaaaa;
}
.form-control::-moz-placeholder {
    color: #aaaaaa;
}
.form-control:-ms-input-placeholder {
    color: #aaaaaa;
}
.form-control:-moz-placeholder {
    color: #aaaaaa;
}
.form-control::-moz-placeholder {
    color: #aaaaaa;
}
.form-control:-ms-input-placeholder {
    color: #aaaaaa;
}
.form-control::-webkit-input-placeholder {
    color: #e0e0e0;
}


.submit-btn{
    width:100%;
    background: transparent;
    border: 1px solid #454a54;
    text-align: left;
    padding: 15px 20px;
    font-size: 14px;
    color: #ffffff;
    border-radius: 3px;
    transition: linear 0.4s;
}
.submit-btn:hover{
    background-color: #373e4a;
}


.submit-btn i{
    float:right;
}

/*----------------------------------Promotion Student-----------------------------*/

.callout.callout-info{
    margin: 50px 0px 20px 0px;
}
.info-img{
    max-height: 30px;
    border-radius: 50%;
}





























@media (max-width: 400px){
    .form-content{
        width:250px;
    }
}